.header {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

}

/* .navegation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    flex-grow: 1;
    } */

    .navegation {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        justify-content: space-between;
      }
      
      .flex-item {
        flex-basis: 33.33%;
        margin: 0 10px;
      }
      
      .flex-item:last-child {
        flex-basis: 100%;
        margin: 0;
        justify-content: flex-start;
      }





.heading {
    margin-top: 10%;
    width: 75%;
}

body {
    font-family:  Arial;
    background-image:  url('images/high-resolution-blue-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
    h1 {
        color: white;
    }
    p {
        color: white;
        width: 65%;
        text-align: center;
    }

    button  {
        background-color: transparent;
        color: white;
        border: 2px solid rgb(253, 0, 0);
        border-radius: 3px;
        width: 150px;
        height: 50px;
        font-size: medium;
    }

    .humburg  {
        width: 32px;
        height: 32px;
        align-items: left;

    }

    .navlink {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none; 
        align-items: flex-start;
    }
    li {
    padding: 10px;
    width: 90%;       
    }

    li a {
        color: white;
        padding: 4px 6px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        text-align: left;
    }

        .flex-item li a:hover {
    background-color: #ddd;
    color: black;
    }

    @media only screen and (min-width: 431px) {

        .humburg {
            display: none;
        }
        

            
            .navlink {
            display: flex;
            margin-left: 30%;
            }
            
            
            ul {
                display: flex;
                list-style: none; 
                justify-content: space-between;
            }
            li {
            padding: 10px;
            }
            
            a  {
                color: white;
                text-decoration: none;
            }
    }